# Ignore virtual environments
.venv/
**/.venv/
venv/

# Ignore Python cache files
__pycache__/
**/__pycache__/
*.pyc
*.pyo
*.pyd

# frontend dependencies
frontend/node_modules

# frontend development
frontend/public/videos
frontend/coverage
frontend/src/users.json
frontend/src/models.json
frontend/src/server.js
frontend/build