# Ignore virtual environments
.venv/
**/.venv/

# Ignore Python cache files
__pycache__/
**/__pycache__/
*.pyc
*.pyo
*.pyd

# frontend dependencies
frontend/node_modules

# frontend development
frontend/public
frontend/src/users.json
frontend/src/models.json