/* Общие стили для body */
html,
body {
    height: 100vh;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    padding: 10px;
}

select {
    float: left;
    margin-bottom: 20px;
    padding: 5px;
    width: 100%;
    background-color: #414141;
    color: #f8f8f8;
    border: 1px black;
}

.page-container {
    position: relative;
    display: flex; /* Для горизонтального размещения */
    flex: 1; /* Основная часть будет занимать оставшееся пространство */
    height: 100vh;
    box-sizing: border-box; /* Включает отступы и границы в общую ширину и высоту элементов */
}

.page-container p,
.page-container h1,
.page-container h2,
.page-container h3 {
    margin-bottom: 10px;
}

.page-container .bottom-menu-part {
    margin-top: auto; /* Нужно для размещения кнопки Выход внизу */
}

.white-text h1,
.white-text h2,
.white-text h3,
.white-text p,
.white-text label {
    color: #f8f8f8;
}

.main-content {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-grow: 1;
    padding: 20px;
    margin-left: 80px;
    background-color: #2e2e2e;
    overflow: hidden;
}

.main-content select {
    margin-bottom: 10px;
}

.main-content select {
    margin-bottom: 10px;
}

.cameras-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    text-align: center;
    align-items: center;
    width: 100%;
}

.camera {
    background-color: white;
    padding: 1px;
    margin: 10px;
    width: 47%;
    height: auto;
    text-align: center;
    cursor: pointer;
}

.left-menu {
    display: flex;
    flex-direction: column;
    position: fixed;
    height: 100%;
    width: 80px;
    padding: 20px;
    color: #f8f8f8;
    background-color: #2e2e2e;
    border-right: 2px solid #131313;
    top: 0;
    left: 0;
    box-sizing: border-box;
    z-index: 2;
}

.right-menu {
    display: flex;
    flex-direction: column;
    position: fixed;
    height: 100%;
    width: 250px;
    padding: 20px;
    color: #f8f8f8;
    background-color: #2e2e2e;
    border-left: 2px solid #131313;
    top: 0;
    right: 0;
    box-sizing: border-box;
}

.right-menu button,
.results button {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
    margin-bottom: 20px;
}

.bottom-menu {
    display: flex;
    position: fixed;
    align-items: center;
    height: 50px;
    width: calc(100% - 80px - 250px);
    background-color: #2e2e2e;
    border-top: 2px solid #131313;
    bottom: 0;
    left: 80px;
    box-sizing: border-box;
    z-index: 1;
}

.bottom-menu-right-buttons {
    margin-left: auto;
    margin-right: 25px;
}

.icon-button {
    margin-top: 5px;
    margin-bottom: 5px;
}

.icon-button img {
    display: block; /* Убираем пробелы под изображением */
    width: 40px;
    height: auto;
}

.bottom-icon-button {
    padding-left: 25px;
}

.bottom-icon-button img {
    display: block;
    width: 20px;
    height: auto;
}

.icon-button,
.bottom-icon-button {
    background: none;
    border: none;
    cursor: pointer;
    position: relative;
}

.margin-right-250 {
    margin-right: 250px;
}

.margin-bottom-50 {
    margin-bottom: 50px;
}

.videoContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.videoList {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
}

.videoItem {
    width: calc(50% - 10px); /* Две видео в строке */
}

.videoItem video {
    align-items: center;
    width: 80%;
    height: auto;
}

@media (max-width: 600px) {
    .videoItem {
        width: calc(100% - 10px); /* Одно видео в строке на маленьких экранах */
    }
}
