.files-list-container {
    display: flex;
    flex-direction: column;
    height: 85vh;
    width: 90%;
    margin: 30px;
    padding: 10px;
    border: 10px solid black;
    border-radius: 20px;
    background-color: white;
}

.files-list-container h1 {
    font-size: 40px;
    margin-top: 10px;
}

.files-list-container li {
    font-size: 18px;
    text-align: left;
}

.files-list {
    margin-left: 50px;
    margin-top: 10px;
}

.files-list-element {
    display: flex;
    align-items: center;
}

.files-list-element img {
    width: 16px;
}
