/* Общие стили для body */
body {
    margin: 0;
    padding: 0;
    height: 100vh; /* Высота на всю высоту окна браузера */
}

button {
    padding: 10px;
    background-color: #28a745;
    color: white;
    border: none;
    cursor: pointer;
}

/* Стили для центральной части страницы */
.main-content {
    margin-left: 280px;
    padding: 20px; /* Отступы внутри центральной части */
    background-color: lightblue; /* Цвет фона центральной части (можно изменить) */
}
